.sideNavContainer {
    height: 100%;
    width: 100%;
}

.sideNav_MenuItems {
    cursor: pointer;
    word-break: break-word;
    color: firebrick;
    text-align: center;
    padding: 18px;
    box-sizing: border-box;
}

.sideNav_MenuItems:hover {
    background-color: darkgray;
    color: #fff;
    cursor: pointer;
}

.far fa-clone {
    max-width: 100%;
    max-height: 100%;
}
