/* You can add global styles to this file, and also import other style files */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error {
  color: #FF4500;
  font-size: small;
  margin-left: 105px;
}


